<footer class="container-fluid text-center py-3 bg-dark">
    <div class="row">
        <div class="col-md-3 text-white-50">
            <p>Acerca de nosotros</p>
            <p>Enterate de más</p>
            <p>Contacto</p>
        </div>
        <div class="col-md-3 text-white-50">
            <p>Servicio al cliente</p>
            <p>Mi cuenta</p>
            <p>Social</p>
        </div>
        <div class="col-md-3 text-white-50">
            <p>Servicios artísticos</p>
            <p>Consejos para coleccionistas</p>
            <p>Cuadros</p>
        </div>
        <div class="col-md-3 text-white-50">
            <p>Para creadores</p>
            <p>¿Cómo publicar mi obra?</p>

            <a class="btn btn-outline-secondary mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
            <a class="btn btn-outline-secondary mx-1" href="#!"><i class="fab fa-fw fa-instagram"></i></a>

        </div>
        <!-- Repite este bloque para cada sección del pie de página -->
    </div>
</footer>