<section class="container py-3">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h2 class="mt-4 mb-3">¿Qué es el {{trend}}?</h2>
            <p>{{description}}</p>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-center text-center">
            <div class="mb-3">
                <img [src]="image" alt="Imagen" class="img-thumbnail rounded-circle object-fit-cover w-75">
            </div>
            <h2 class="text-center">Máximo Exponente</h2>
        </div>
    </div>
</section>